


<div class="row">
	<div class="sidebar-user">
		<h2> User info</h2>
		<table class="table table">
			<div class="profile-container">
                <%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
            </div>
			<thead>
				<tr>
					<th>name</th>
					<th><%= user.name %></th>
				</tr>
			</thead>
			<tbody>
				<tr>
                    <th>introduction</th>
					<th><%= user.introduction %></th>
				</tr>
			</tbody>
		</table>
            <%= link_to edit_user_path(user), class: "col-xs-12 glyphicon glyphicon-wrench btn btn-default btn-block edit_user_#{user.id}" do %>
              <span aria-hidden="true"></span>
            <% end %>
	</div>

    <div class="sidebar-new ">
		<h2>New book</h2>
		<!-- form_for部分 -->
		<%= form_for(@book) do |f| %>

    		<div class="new_form">Title</div>
    		<div class="new_form"><%= f.text_field :book_name, class:"col-xs-12 book_title" %></div>

    		<div class="new_form">Opinion</div>
    		<div class="new_form"><%= f.text_area :caption, class:"col-xs-12 book_body" %></div>

    		<div><input type="submit" value="Create Book" class="col-lg-12 btn btn-primary">
    		</div>

		<% end %>
    </div>
</div>