<div class="container">
<div class="row">
  <div class="col-lg-4">
        <%= render 'users/info', user: @libro.user %>

  </div>

  <div class="col-lg-8">
	<h2>Book details</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th></th>
					<th>Title</th>
					<th>Opinion<th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= attachment_image_tag @libro.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
					</td>
					<td><%= link_to edit_book_path(@libro.id), class:"edit_book_#{@libro.id}" do %>
					    <%= @libro.book_name %>
					    <% end %>
					</td>
					<td>
				        <%= @libro.caption %>
					</td>
					<td>
						<% if @libro.user_id == current_user.id %>
						  <%= link_to "Edit", edit_book_path(@libro.id), class:"edit_book_#{@libro.id}" %>
                          <%= link_to "Destroy", book_path(@libro.id), method: :delete, "data-confirm" => "Are you sure?", class:"destroy_book_#{@libro.id}"%>
                        <% end %>
					</td>
				</tr>
			</tbody>
		</table>
  </div>
</div>
</div>