<div class="container">
<div class="row">
  <div class="col-lg-3">
        <%= render 'users/info', user: @libro.user %>

  </div>

  <div class="col-lg-9">
	<h2>Book details</h2>
		<table class="table table">
			<thead>
				<tr>
					<th></th>
					<th>Title</th>
					<th>Opinion<th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= attachment_image_tag @libro.user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %><br>
						<%= link_to user_path(@libro.user_id) do %>
					        <%= @libro.user.name %>
					    <% end %>
					</td>
					<td>
					    <%= @libro.book_name %>
					</td>
					<td>
				        <%= @libro.caption %>
					</td>
					<td>
						<% if @libro.user_id == current_user.id %>
						  <%= link_to edit_book_path(@libro.id), class:"btn btn-success edit_book_#{@libro.id}" do %>
						  Edit
						  <% end %>

                          <%= link_to book_path(@libro.id), method: :delete, "data-confirm" => "Are you sure?", class:"btn btn-danger destroy_book_#{@libro.id}" do %>
                          Destroy
                          <% end %>
                        <% end %>
					</td>
				</tr>
			</tbody>
		</table>
  </div>
</div>
</div>